{% extends 'base.html.twig' %}

{% block title %}Pokédex 5e{% endblock %}
{% block icon %}{{ asset('/assets/images/pokedex-icon.png') }}{% endblock %}

{% block body %}
    <div id="pokedex" class="ab-light" data-ab-yaq="178.281" style="background-color: rgb(140, 199, 172);"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('pokedex') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pokedex') }}
{% endblock %}